<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        
        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">Second post</a></h2>
            <p>Hello.</p>
        </div>
    </body>
</html>